@import "tailwindcss";

@theme inline {
  --color-primary: #d97706;
  --color-primary-dark: #b45309;
  --color-primary-light: #fbbf24;
  --color-background: #ffffff;
  --color-foreground: #171717;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}
